* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #d7edc0;
  color: black;
}

body {
  background-color: #d7edc0;
  height: 100vh;
}

body.dark-mode * {
  background-color: rgb(24, 24, 24);
  color: white;
}

body.dark-mode {
  background-color: rgb(32, 32, 32);
  color: white;
}

body.dark-mode .topHeader {
  background-color: rgb(32, 32, 32);
  color: white;
}

body.dark-mode .introText {
  border-color: black;
  color: white;
  background-color: rgb(32, 32, 32);
}

body.dark-mode .introList {
  background-color: rgb(32, 32, 32);
}

body.dark-mode .introList * {
  background-color: rgb(32, 32, 32);
  color: white;
}

body.dark-mode .snowboard {
  background-color: black;
}

.topHeader{
    text-align: center;
    padding: 16px;
    background-color: #b7caa3;
    color: rgb(42, 33, 74);
}

.introText{
    text-align: center;
    padding: 16px;
    font-size: 18px;
    border: #b7caa3 2px solid;
    border-radius: 20px;
    color: black;
}

.introList{
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 16px;
    position: relative;
    padding: 16px;
    list-style: none;
    background-color: #d7edc0;
}

.snowboard{
    position: absolute;
    top: 0px;
    left: 320px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .snowboard{
        position: relative;
        left: 0px;
        align-self: center;
        max-width: 400px;
        width: 100%;    
        margin: 12px;
    }

}